<%- include('header') -%>

    <div class="box" id="heading">
        <h1>  <%= listTitle %></h1>
    </div>



    <!-- Here we try to implement a logic and that is when checkbox is clicked then it get a post request to delete route.So we build up our logic associated with checkbox and post request.
    we collect the exact value using item._id and when checkbox is checked then the req.body.checkbox value is on.And that is the checkbox is on and now delete the special check -->


    <div class="box">     
        <% for(let i=0; i<newListItems.length; i++){ %>
        <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%= newListItems[i]._id %>" onchange="this.form.submit()">
                <p><%= newListItems[i].name %></p>
            </div>  

            <!-- We create a hidden input to get the listTitle for deleting item from specific route and also from database -->

            <input type="hidden" name="listName" value="<%= listTitle %>"> </input>
        </form>
        <% } %>

        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value= <%= listTitle %>>+</button>
        </form>
    </div>

    <%- include('footer') -%>
